@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 100;
    src: url("../../public/fonts/iransans/IRANSansWeb_UltraLight.otf") format("opentype");
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url("../../public/fonts/iransans/IRANSansWeb_Light.otf") format("opentype");
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url("../../public/fonts/iransans/IRANSansWeb.otf") format("opentype");
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 400;
    src: url("../../public/fonts/iransans/IRANSansWeb.otf") format("opentype");
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url("../../public/fonts/iransans/IRANSansWeb.otf") format("opentype");
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url("../../public/fonts/iransans/IRANSansWeb.otf") format("opentype");
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 600;
    src: url("../../public/fonts/iransans/IRANSansWeb_Medium.otf") format("opentype");
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 700;
    src: url("../../public/fonts/iransans/IRANSansWeb_Bold.otf") format("opentype");
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 900;
    src: url("../../public/fonts/iransans/IRANSansWeb_Black.otf") format("opentype");
}
// 

@font-face {
    font-family: IranNastaliq;
    font-style: normal;
    // font-weight: 600;
    src: url("../../public/fonts/IranNastaliq.ttf") format("opentype");
}
